<header>
    
    <div class="alatna">
        <div class="grid-item">
            <a href="/log" spec="true"> ZGRADA </a>
        </div>

        <div class="grid-item">
            Dobrodošli!
        </div>

        <div class="grid-item">      
            <div class="dropdown">
                <button class="dropbtn"> OPCIJE </button>
                <div class="dropdown-content">
                    <a href="/log">Moje nekretnine</a>
                    <a href="/log/sviZahtjeviPrikaz">Zahtjevi</a>
                    <a href="/log/upravitelj">Upravitelj</a>
                    <a href="/log/userInfo">Moj profil</a>
                    <a href="/forgotten">Novosti</a>
                </div>
            </div>
        </div>

        <div class="grid-item"> 
            <a href="/logoff" odjava="true"> ODJAVA </a>
        </div>

    </div>
</header>